
@media (max-width:768px){
.bannerEquipe {
	h1 {
		font-size: 4rem;
	}
}
.nousSommes {
	h2 {
		font-size: 5rem;
	}
	img {
		width: 50%;
		height: 40rem;
		margin-bottom: 1rem;
		margin: 1rem;
	}
	h3 {
		font-size: 4rem;
		margin-top: 1rem;
	}
	P {
		font-size: 2rem;
	}
}
}