@media (max-width:320px){
    .bannerClients h1{
        font-size: 4rem;
    }
    .bannerClients a{
        font-size: 1.75rem;
        width: 80%;
        height: 4rem;
    }
    .clientsTitle{
        font-size: 3rem;
    }
    .clientsCards div a{
        font-size: 1.5rem;
    }
}