$color_1: #FFF8EA;
$font-family_1: 'Nunito Sans', sans-serif;
$font-family_2: 'Stick No Bills', sans-serif;
$background-color_1: #212121;
$background-color_2: #BE5A5A;
$background-color_3:#8B1A1A;
$background-color_4:#C5ADAD;