$color_1: #FFF8EA;
$font-family_1: 'Nunito Sans', sans-serif;
$background-color_1: #212121;

footer {
	border: 1% solid #212121;
	padding: 1%;
	background-color: $background-color_1;
	color: $color_1;
	font-family: $font-family_1;
	font-size: 1.5rem;
	width: 100%;
}