$color_1: #FFF8EA;
$font-family_1: 'Nunito Sans', sans-serif;
$font-family_2: 'Stick No Bills', sans-serif;
$background-color_1: #212121;
$background-color_2: #BE5A5A;

header {
	display: flex;
	border: 1px solid #212121;
	width: 100%;
	padding: 1%;
	background-color: $background-color_1;
	color: $color_1;
	font-family: $font-family_1;
	font-size: 2rem;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
li {
	a {
		background-color: $background-color_1;
		color: $color_1;
		font-size: 2rem;
		justify-content: space-around;
		padding: 1%;
		font-family: $font-family_1;
		text-decoration: none;
		&:hover {
			background-color: $background-color_1;
			color: $color_1;
			padding: 0.5rem;
			border: 1px solid #FFF8EA;
		}
	}
}
.navWrapper {
	width: 100%;
	margin: 0 auto;
	padding: 1rem;
}
nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: $background-color_1;
	padding: 1 rem 1.5rem;
	border-radius: 0.5rem;
	#toggle {
		display: none;
	}
	label {
		display: none;
	}
}
.menu {
	ul {
		list-style: none;
		display: flex;
		gap: 2rem;
		li {
			text-decoration: none;
		}
	}
}
.devis {
	display: flex;
	border: 1px solid #FFF8EA;
	background-color: $background-color_1;
	color: $color_1;
	width: 20rem;
	height: fit-content;
	align-content: center;
	padding: 1%;
	font-size: 2rem;
	font-family: $font-family_1;
	text-decoration: none;
	text-align: center;
	justify-content: center;
	animation-name: devis;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-delay: 15%;
	&:hover {
		border: 1px solid #FFF8EA;
		background-color: $background-color_2;
		color: $color_1;
	}
}
.logo {
	font-family: $font-family_2;
	font-weight: light;
	text-align: left;
	font-size: 3rem;
	text-transform: uppercase;
	color: $color_1;
	background-color: transparent;
	text-decoration: none;
}

@keyframes devis{
	0%{width: 25rem;}
	25%{width: 30rem;}
	50%{width: 35rem;}
	75%{width: 30rem;}
	100%{width: 25rem;}
}