$color_1: #FFF8EA;
$background-color_2: #BE5A5A;

.formulario {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	background-color: $background-color_2;
	margin: 3rem;
	justify-content: center;
	align-items: center;
	p {
		font-size: 4rem;
		color: $color_1;
		align-items: center;
		font-weight: bolder;
	}
}