main{
    .bannerIndex{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9,1fr);
        width:100%;
        background-image: url("../assets/img/accueil-index/accueil-cover.jpg");
        background-size: cover;
        height: 50rem;
        .bannerTextIndex{
            padding: 5%;
            margin-bottom: 15rem;
            background-position: center;
            text-align: left;
            color: #FFF8EA;
            h1{
                grid-row: 4 / 7;
                align-self: center;
                font-size: 5rem;
                font-family: 'Nunito Sans', sans-serif;
                font-weight: lighter;
                color:#FFF8EA;
            }
            a{
                grid-row: 7 /8;
                border: 1px solid #FFF8EA;
                padding:0.5rem;
                color: #FFF8EA;
                width: 20%;
                font-size:2rem;
                font-family: 'Nunito Sans', sans-serif;
                text-decoration: none;
                text-align: center;
                margin-left: none;
            }
            &:hover{
                border: 1px solid #BE5A5A;
                padding:0.5rem;
                color: #FFF8EA;
                background-color: #BE5A5A; 
            }
        }
        .bannerSub{
            h2{
                display: grid;
                grid-row: 9/10;
                font-size: 3rem;
                width: 100%;
                height: fit-content;
                padding:1% 4% 1% 4%;
                font-family: 'Nunito Sans', sans-serif;
                background-color: white;
                border: white 3px solid;
                color:#212121;
                text-align: center; 
            }
        }
    }
    .nosPrestationsIndex{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 2fr auto;
        justify-content: center;
        align-content: center;
        h3{
            font-size: 5rem;
            text-align: center;
            font-family: 'Stick No Bills', sans-serif;
            margin-top: 5rem;
        }
        .nosPrestationsIndexImg{
            display: grid;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            text-align: center;
            div{
                img{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 2rem;
                    align-content: space-around;
                    justify-content: center;
                    margin-top: 4rem;
                    margin-bottom: 4rem;
                }
                p{
                    font-family:'Nunito Sans', sans-serif;
                    font-weight: light;
                    text-align: center;
                    margin-bottom: 2%;
                    font-size: 3rem;
                }
            }
            div{
                img{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 2rem;
                    align-content: space-around;
                    justify-content: center;
                    margin-top: 4rem;
                    margin-bottom: 4rem;
                }
                p{
                    font-family:'Nunito Sans', sans-serif;
                    font-weight: light;
                    text-align: center;
                    margin-bottom: 2%;
                    font-size: 3rem;
                }
            }
        }
        .buttonIndexPrestations{
            display: grid;
            grid-template-columns:repeat(6, 1fr);
            align-content: center;
            a{
                grid-column:2/6;
                color:#FFF8EA;
                background-color:#BE5A5A;
                width: 100%;
                height: fit-content;
                padding: 1%;
                font-size:2rem;
                font-family: 'Nunito Sans', sans-serif;
                text-decoration: none;
                text-transform: uppercase;
                justify-content: center;
                text-align: center;
            }
        }
    }
    .nosRealisationsIndex{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        color:#212121;
        background-color:#C5ADAD;
        padding:2%;
        text-align: center;
        h3{
            text-justify: center;
            text-align: center;
            font-family: 'Stick No Bills', sans-serif;
            font-size:4rem;
        }
        p{
            font-family: 'Nunito Sans', sans-serif;
            color:#8B1A1A;
            font-size: 2rem;
        }
        div{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 2rem;
            align-content: space-around;
            justify-content: center;
            margin-top: 4rem;
            margin-bottom: 4rem;
            .carousel-item{
                div{
                    img{
                        width: 100%; 
                        height: 40rem; 
                        object-fit:cover;
                    }
                }
                div{
                    img{
                        width: 100%; 
                        height: 40rem; 
                        object-fit:cover;
                    }
                }
                div{
                    img{
                        width: 100%; 
                        height: 40rem; 
                        object-fit:cover;
                    }
                }
                button{
                    background-color: #BE5A5A;
                    padding: 2%;
                }
            }
            .buttonIndexRealisations{
                display: grid;
                grid-template-columns:repeat(6, 1fr);
                align-content: center;
                a{
                    margin-top: 2rem;
                    grid-column:2/ 6;
                    color:#FFF8EA;
                    background-color:#BE5A5A;
                    width: 100%;
                    height: fit-content;
                    padding: 1%;
                    font-size:2rem;
                    font-family: 'Nunito Sans', sans-serif;
                    text-decoration: none;
                    text-transform: uppercase;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    }
    .besoinParticulierIndex{
        display: flex;
        flex-direction: column;
        margin-left:2%;
        margin-right: 2%;
        color:#212121;
        margin-top:2%;
        text-align: center;
        font-size: 2rem;
        p{
            font-family:'Nunito Sans', sans-serif;
            font-weight: light;
            text-align: center;
            font-size: 2.5rem;
        }
        h3{
            text-justify: center;
            text-align: center;
            font-family: 'Stick No Bills', sans-serif;
            font-size:4rem;
        }
        div{
            display: grid;
            grid-template-columns:repeat(6, 1fr);
            align-content: center;
            a{grid-column:2/6;
                color:#FFF8EA;
                background-color:#BE5A5A;
                width: 100%;
                height: fit-content;
                padding: 1%;
                font-size:2rem;
                font-family: 'Nunito Sans', sans-serif;
                text-decoration: none;
                text-transform: uppercase;
                justify-content: center;
                text-align: center;
            }
        }
    }
    .barraPreguntaIndex{
        display: flex;
        flex-direction: column;
        background-color: #8B1A1A;
        margin:5%;
        color:#FFF8EA;
        padding:2%;
        p{
            text-justify: left;
            text-align: left;
            font-family: 'Stick No Bills', sans-serif;
            color:#FFF8EA;
            font-weight: bold;
            font-size:3rem;
        }
    }
}