@media (max-width:768px){
.bannerPrestations h1{
    font-size: 4rem;
}
.prestationsTitle{
    font-size: 5rem;
    margin: 2rem;
}
.prestations div h2{
    font-size:3rem;
    margin: 1rem;
}
.prestations p{
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1%;
}
.prestationsButtons a{
    font-size: 1.5rem;
}
}